header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;

    h1 {
      font-size: 2.6rem;
      font-weight: 900;
    }
    p {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  .headerMenu ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .tlink {
    text-decoration: none;
    color: yellow;
    font-size: 20px;
    text-transform: uppercase;

    &:hover{
        color: white;
    }
  }