section {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .grid-container{
        width: 66%;
        height: 70vh;
        border: 2px solid #ccc;
        border-radius: 2px;

        display: grid;
        grid-template-rows: 2fr 2fr 1fr 2fr 1fr 1fr 2fr;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
        grid-template-areas: ". . . . ."
                             ". usuario usuario usuario ." 
                             ". . . . ."
                             ". senha senha senha ."
                             ". . . . ."
                             ". . . botao ."
                             ". . . . .";
    }

    .usuario{
        font-weight: 700;
        grid-area: usuario;

        input{
            width: 100%;
            height: 80%;
        }
    }
    .senha{
        font-weight: 700;
        grid-area: senha;

        input{
            width: 100%;
            height: 80%;
        }
    }
    .botao{
        font-weight: 700;
        font-size: larger;
        grid-area: botao;
    } 
  }